* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-decoration: none;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 20px;
}

.signup-form {
    width: 250px;
    height: 330px;
    position: absolute;
    right: 0;
    top: 70px;
    margin-right: 20px;
    border-radius: 8px;
    backdrop-filter: blur(15px) saturate(200%);
    -webkit-backdrop-filter: blur(15px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.48);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: none;
}

form {
    display: block;
    padding: 20px;
    padding-top: 50px;
}

.signup-form form input {
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    outline: none;
    border: none;
}

input[type="submit"] {
    width: 94%;
    background-color: rgb(102, 203, 93);
    border: none;
}

.signup-form form p {
    color: #fff;
    padding: 10px;
    font-size: 12px;
}

.signup-form form p span {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.login-form {
    width: 250px;
    height: 330px;
    position: absolute;
    right: 0;
    top: 70px;
    margin-right: 20px;
    border-radius: 8px;
    backdrop-filter: blur(15px) saturate(200%);
    -webkit-backdrop-filter: blur(15px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.48);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: none;
}

form {
    display: block;
    padding: 20px;
    padding-top: 50px;
}

.login-form form input {
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    outline: none;
    border: none;
}

input[type="submit"] {
    width: 94%;
    background-color: rgb(102, 203, 93);
    border: none;
}

.login-form form p {
    color: #fff;
    padding: 10px;
    font-size: 12px;
}

.login-form form p span {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.logo {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.navbar a {
    font-size: 20px;
    color: #fff;
    margin-left: 2rem;
    transition: .3s;
    padding: 8px;
}

.navbar a:hover {
    text-decoration: underline;
    transition: .3s;
}

.home{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./background-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#signup {
    border-radius: 20px;
    width: 110px;
    height: 40px;
    color: red;
    font-size: 18px;
    padding: 4px;
    outline: none;
    border: none;
}

.home .inputs h1{
    font-size: 30px;
}

h1 {
    color: #fff;
}

.search, .btn {
    color: #000;
    outline: none;
    font-size: 18px;
    border: none;
}

.search {
    width: 260px;
    height: 43px;
    padding: 4px;
}

.btn {
    height: 51px;
    padding: 8px;
    background-color: rgb(10, 217, 148);
    color: #fff;
}

.btn-1 {
    background-color: rgb(10, 127, 217);
}

.movies{
    background-image: url('./background-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.movies-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.movies-container .movies-box {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    border: 1px solid black;
}

.movies-box {
    width: 220px;   
    height: 250px;
}

.movies-box img {
    width: 100%;
    height: 38vh;
    transition: .5s ease;
}

.movies-box:hover img {
    transform: scale(1.1);
}

.movies-box .movies-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.actors{
    background-image: url('./background-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.actors-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.actors-container .actors-box {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    border-radius: 50%;
}

.actors-box {
    width: 220px;   
    height: 220px;
}

.actors-box img {
    width: 100%;
    height: 100%;
    transition: .5s ease;
    border-radius: 50%;

}

.actors-box:hover img {
    transform: scale(1.1);
}

.actors-box .actors-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(100%);
    transition: .5s ease;
}

.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #6f6868;
    color: #fff;
}

#btn {
    position: absolute;
    right: 0;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    background-color: #fff;
}

#btn i {
    color: #000;
}